* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
